.common-routerlink{
    color:white;
    font-family:"Consolas","Microsoft JhengHei","Apple LiGothic Medium,Microsoft YaHei","微软雅黑","Arial",sans-serif;
    line-height: 47px;
}

a{
    text-decoration: none;
}
.router-link-active {
    text-decoration: none;
}

.el-input input::-webkit-input-placeholder,.fine-font{
    font-family:"Consolas","Microsoft JhengHei","Apple LiGothic Medium,Microsoft YaHei","微软雅黑","Arial",sans-serif;

}

.title-font{
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
//font-family: Lato,PingFang SC,Microsoft YaHei,sans-serif;


.small-font{
    font-size: xx-small;
    color: #939393;
}
//小屏配置
@media screen
and (max-device-width : 768px) {
    .content_container{
    //width:500px;
        padding-left:10px;padding-right: 10px;
    }

    .adapt_show_part{
        display:none;
    }

    .adapt_hidden_part{
        display:block;
    }
    //blogList start==========================
    .card_image{
        width: 60px; 
        height: 60px
    }

    .blog-list-aside{
        width:100px;
    }
    //blogList end=============================
    .content-dialog{
        width:90%
    }
}

//大屏配置
@media screen
and (min-device-width : 768px){
    .content_container{
        //width:999px;
        
    }

    .adapt_show_part{
        display:block;
    }   
    .adapt_hidden_part{
        display:none;
    }
    //blogList start==========================
    .card_image{
        width: 150px; 
        height: 150px
    }

    .blog-list-aside{
        width:200px;
    }
    //blogList end=============================

    .content-dialog{
        width:50%
    }
}

.border_radius_normal{
    border-radius: 7px;
}

.el-card__body{
    padding:5px;
}

.title_level_1{
    font-size: xx-large;
}

.title_level_2{
    font-weight:600;
}


.headerTipIcon{
    position: relative;
    top: 3px;
    margin-right: 4px;
    color:#939393;
  }
  
  .headerTipSpan{
    color:#939393;
    font-size: smaller;
  }

.breadcrumb{
    margin-top:10px
}

.el-breadcrumb__separator{
    position: relative;
    top: -1px;
}

.full_height{
    height:100%
  }

  .about-card >.el-card__body> .el-row.independent_row{
    margin-top:20px;
  }  

  .el-divider--horizontal{
    margin:5px 0px
  }